.container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .Entrada-sidenav {
    display: flex;
    height: 300px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .container{
    width: 100%;
    height: 1000px;
  }
  
  .acciones{
    margin: 10px;
  }
  .acciones button{
    width: 10rem;
    text-align: center;
  }
  .titulos{
    display: block;
  }
  img{
    height:  500px;
    object-fit: cover;
  }
  /* .example-sidenav {
    padding: 20px;
  } */mat-form-field{
    margin-left: 1rem;
  }
  .btnProducto{
    margin-left: 1rem;
  }

  .headerFactura mat-form-field{
    margin-top: 15px;
  }
  .productoagregar{
    height: 50px;
    margin-left: 1rem;
    width: 100px;
  }
  .tableDetails{
    margin-top:  4px;
  }

  table {
    width: 100%;
  }
  .lblbuscar{
    margin-left: 1rem;
  }
  .btnAccion{
margin-left: 1rem;
  }

  