<div class="container-fluid">
    <mat-drawer-container class="Entradas-nav-container" >
        <mat-drawer #drawer class="Entrada-sidenav" mode="side">
         
                <span><p>Acciones</p></span>
               <div class="acciones"><button mat-flat-button color="primary">Nuevo</button></div>
               <div class="acciones"><button mat-flat-button color="accent">Guardar</button></div>
               <div class="acciones "><button mat-flat-button color="warn">Cancelar</button></div>

        </mat-drawer>
      
        <div class="Main-content">

              <mat-card class="card">
                <button mat-mini-fab>

                    <mat-icon  (click)="drawer.toggle()">menu</mat-icon> 
                </button>
                <mat-card-header>
                  <div mat-card-avatar class="header-image"></div>
                 
                  <mat-card-title>Entrada de Mercancia</mat-card-title>
                  <mat-card-subtitle>*****</mat-card-subtitle>
                </mat-card-header>
                <div class="row">

                  <!-- <mat-checkbox (change)="onCheckboxChange($event)" class="example-margin" [(ngModel)]="itbis_included" >ITBIS</mat-checkbox> -->
 <form  [formGroup]="formOperation" (submit)="onSubmit()">        
<div class="border rounded">

      <mat-form-field appearance="outline"> 
        <mat-label>Documento</mat-label>
        <input matInput  formControlName="documento">
    </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Tipo de Comprobante</mat-label>
        <input type="text" matInput [formControl]="TipoComprobante" [matAutocomplete]="autoComprobante">
        <mat-autocomplete  #autoComprobante="matAutocomplete" (optionSelected)="onOptionSelected($event)" [displayWith]="displayFn" >
          <mat-option *ngFor="let option of filteredComprobantes | async" [value]="option">
            {{option.names}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Proveedor  </mat-label>
        <input type="text" matInput [formControl]="proveedorControl" [matAutocomplete]="autoProveedores">
        <mat-autocomplete  #autoProveedores="matAutocomplete" (optionSelected)="onOptionSelected($event)" [displayWith]="displayFn" >
          <mat-option *ngFor="let option of filteredProveedores | async" [value]="option">
            {{option.names}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Fecha de Expedicion</mat-label>
        <input formControlName="ExpeditionDate" matInput  [matDatepicker]="picker1">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 color="primary"></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Fecha de Entrada</mat-label>
        <mat-datepicker-toggle matSuffix  [for]="picker2"></mat-datepicker-toggle>
        <input formControlName="AplicationDate" matInput [matDatepicker]="picker2">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker #picker2 color="primary"></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline"> 
        <mat-label>Notas</mat-label>
        <input matInput  formControlName="Notes">
    </mat-form-field>

</div>
</form>
<div class="mt-3 headerFactura border rounded" >
  <button class="btnProducto" mat-mini-fab color="primary" (click)="openListaInventario()" >
    <mat-icon>search</mat-icon> 
  </button>
  <span>Buscar Producto</span>
<form  [formGroup]="form">   
                        <mat-form-field appearance="outline"> 
                          <mat-label>Codigo</mat-label>
                          <input matInput  formControlName="barcode">
                      </mat-form-field>

                        <mat-form-field appearance="outline"> 
                            <mat-label>Producto</mat-label>
                            <input matInput readonly formControlName="productName">
                        </mat-form-field>

                        
                        <mat-form-field appearance="outline"> 
                          <mat-label>Valor</mat-label>
                          <input id="InPrecio" matInput  formControlName="price">
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline"> 
                          <mat-label>Qty</mat-label>
                          <input matInput  formControlName="qty">
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline"> 
                          <mat-label>ITBIS</mat-label>
                          <input matInput readonly formControlName="itbisAplied">
                      </mat-form-field>

                      <mat-form-field appearance="outline"> 
                        <mat-label>Descuento %</mat-label>
                        <input matInput [readonly]="!discount" formControlName="discount">
                    </mat-form-field>

                      <button class="productoagregar" (click)="AddProduct()" mat-flat-button color="accent">Agregar</button>
                    </form>
                  </div>

                </div>
                <mat-card-content>
                <div class="row">
                    <div class="example-container mat-elevation-z8">


  <div class="Detail">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8  tableDetails"   
    matSort matSortActive="productName" matSortDisableClear matSortDirection="desc">
      <!-- Number Column -->
      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef>Descricion</th>
        <td mat-cell *matCellDef="let row">{{row.productName}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="qty">
        <th mat-header-cell *matHeaderCellDef>Qty</th>
        <td mat-cell *matCellDef="let row">{{row.qty}}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Precio</th>
        <td mat-cell *matCellDef="let row">{{row.price}}</td>
      </ng-container>

      <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef>Descuento</th>
        <td mat-cell *matCellDef="let row">{{row.discount}}</td>
      </ng-container>

      <ng-container matColumnDef="itbisAplied">
        <th mat-header-cell *matHeaderCellDef>ITBIS</th>
        <td mat-cell *matCellDef="let row">{{row.itbisAplied}}</td>
      </ng-container>
      
      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let row">
          <button mat-button>Editar</button>
          <button mat-button>Eliminar</button>
        </td>
      </ng-container>
 

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
  </div>

  <!-- <mat-paginator [length]="resultsLength" [pageSize]="30" aria-label="Select page of GitHub search results"></mat-paginator> -->
</div>
                </div>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Imprimir</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>
      
      </mat-drawer-container>

</div>