<mat-toolbar color="primary">
<div 
>
<!-- fxHide.gt-xs -->
    <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
</div>
<div>
    <a routerLink="/home"> Owners</a>
</div>
<div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-item">
        <li>    
            <mat-list-item [matMenuTriggerFor]="menu">
                    <mat-icon>expand_more</mat-icon>
                    <a matline>Admin</a>               
            </mat-list-item>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="contract">
                    <mat-icon>vpn_key</mat-icon>
                    Change Password
                </button>
            </mat-menu>
        </li>
         <li>
             <a routerLink="home" routerLinkActive="router-link-active">Sign in</a>
             <mat-icon>login</mat-icon>
        </li> 
           <!-- <li>
            <a routerLink="contract" routerLinkActive="router-link-active">Contract</a>
         </li> -->
    
    </ul>
</div>

</mat-toolbar>
