<!-- <app-toolbar></app-toolbar> -->

    <mat-sidenav-container>
        <mat-sidenav #sidenav role="navigation" > 
            <app-sidebar (onsidenavClose)="sidenav.close()" class="mat-sidenav-container"></app-sidebar> <!--myis opciones -->
        </mat-sidenav>
        
        <mat-sidenav-content>
            <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
            <main>
                <router-outlet class="content"></router-outlet>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>

