<h2>Listado de Proveedores</h2>
<p>{{data.name}}</p>   

<div class="row">
    <div tabindex="0" class="col-12">
        <section class="example-container mat-elevation-z8" tabindex="0">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
              </mat-form-field>
              
              <table mat-table  [dataSource]="dataSource" matSort>
                
                <!-- ID Column -->
                <ng-container matColumnDef="identification">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Identification </th>
                    <td mat-cell *matCellDef="let row"> {{row.identification}} </td>
                </ng-container>
                <ng-container matColumnDef="names">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header> Nombre </th>
                  <td mat-cell *matCellDef="let row"> {{row.names}} </td>
              </ng-container>
    
                <!-- <ng-container matColumnDef="Image">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
                    <td mat-cell *matCellDef="let row">
                        <div class="img">
                            <img [src]="row.image" alt="">
                        </div>
                        </td>
                </ng-container> -->
                
            <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre 2 </th>
                <td mat-cell *matCellDef="let row"> {{row.lastname}} </td>
            </ng-container>
            <ng-container matColumnDef="company">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Compania </th>
                <td mat-cell *matCellDef="let row"> {{row.company}} </td>
            </ng-container>
            <ng-container matColumnDef="phone1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contacto </th>
                <td mat-cell *matCellDef="let row"> {{row.phone1 }} </td>
            </ng-container>
    
            <ng-container matColumnDef="RNC">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> RNC </th>
                <td mat-cell *matCellDef="let row"> {{row.rnc}} </td>
            </ng-container>
            //----------------------------------------------------------------  
            <!-- <ng-container matColumnDef="unit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> unit </th>
                <td mat-cell *matCellDef="let row"> {{row.unit}} </td>
            </ng-container> -->
           
            
                <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr class="Selecthand"  (click)="select(row)"  mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
              </table>
          </section>
    </div>
</div>
