<mat-card>
    <!-- <h3>Real Estate Management</h3> -->
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"> 
                       <mat-expansion-panel-header>
                        <mat-panel-title><mat-icon>store</mat-icon> Entidades
                        </mat-panel-title>
                        <mat-panel-description>
                           {{panelOpenState ? 'open' : 'closed'}}
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-card-actions>
                        <button mat-raised-button routerLink="usuario"><mat-icon>real_estate_agent</mat-icon> Usuarios</button>
                        <button mat-raised-button routerLink="cliente"><mat-icon>inventory</mat-icon>Clientes</button>
                        <button mat-raised-button routerLink="proveedor"><mat-icon>description</mat-icon>Proveedores</button>
  
                        </mat-card-actions>
                       
                    
                    </mat-expansion-panel>
    </mat-accordion>
    <!-- <mat-card-subtitle>Create or update contract</mat-card-subtitle> -->

    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <mat-card-content>
        <div class="main">
            <router-outlet class="content"></router-outlet>

        </div>
      </mat-card-content>
  </mat-card>

