<h2>Properties</h2>

<div class="container">
    <form formGroup="form" (ngSubmit)="onSubmit()">

        <div class="selectFields">
            <mat-form-field appearance="fill">
                <mat-label>Company</mat-label>
                <mat-select [(value)]="selectedCompany">
                  <mat-option [value]="option.realEstateCompanyID" *ngFor="let option of companies">{{ option.description }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Project Type</mat-label>
                <mat-select formControlName="realEstateProjectTypeID" >
                  <mat-option [value]="option.RealEstateProjectTypeID" *ngFor="let option of project">{{ option.Description }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Property Type</mat-label>
                <mat-select formControlName="realEstatePropertyTypeID" >
                  <mat-option [value]="option.realEstatePropertyTypeID" *ngFor="let option of proType">{{ option.description }}</mat-option>
                
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Location</mat-label>
                <mat-select formControlName="realEstateLocationID"  >
                  <mat-option [value]="option.realEstateLocationID" *ngFor="let option of location">{{ option.description }}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>

        <div class="Textfield">
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput formControlName="description" placeholder="Placeholder">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Bedrooms</mat-label>
                <input matInput formControlName="rooms" placeholder="Placeholder">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Bathrooms</mat-label>
                <input matInput formControlName="bathrooms" placeholder="Placeholder">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Const size</mat-label>
                <input matInput formControlName="buildingSize" placeholder="Placeholder">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Batch size / M2</mat-label>
                <input matInput formControlName="landSize" placeholder="Placeholder">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Batch price</mat-label>
                <input matInput formControlName="lotePrice" placeholder="Placeholder">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Unit Price</mat-label>
                <input matInput formControlName="unitPrice" placeholder="Placeholder">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Min. Price</mat-label>
                <input matInput formControlName="minPrice" placeholder="Placeholder">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Max. Price</mat-label>
                <input matInput formControlName="maxPrice" placeholder="Placeholder">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            </mat-form-field>
<!-- *********************************************************************************************************************************************************************** -->
<!-- *********************************************************************************************************************************************************************** -->
    
</div>
          <div class="listaProp">

            <mat-form-field appearance="standard">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. " #input>
            </mat-form-field>
            
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort>
            
                <!-- ID Column -->
                <ng-container matColumnDef="Status">
                  <th mat-header-cell *matHeaderCellDef > Status </th>
                  <td mat-cell *matCellDef="let row"> {{row.Status}} </td>
                </ng-container>
            
                <!-- Progress Column -->
                <ng-container matColumnDef="Company">
                  <th mat-header-cell *matHeaderCellDef> Company </th>
                  <td mat-cell *matCellDef="let row"> {{row.Company}}</td>
                </ng-container>
                  <!-- Position Column -->
            
            
                <!-- Name Column -->
                <ng-container matColumnDef="ProjectType">
                  <th mat-header-cell *matHeaderCellDef > ProjectType </th>
                  <td mat-cell *matCellDef="let row"> {{row.ProjectType}} </td>
                </ng-container>
            
                <!-- Fruit Column -->
                <ng-container matColumnDef="PropertyType">
                  <th mat-header-cell *matHeaderCellDef > PropertyType </th>
                  <td mat-cell *matCellDef="let row"> {{row.PropertyType}} </td>
                </ng-container>
                
                <ng-container matColumnDef="Location">
                  <th mat-header-cell *matHeaderCellDef > Location </th>
                  <td mat-cell *matCellDef="let row"> {{row.Location}} </td>
                </ng-container>
                  <!-- Fruit Column -->
                  <ng-container matColumnDef="Description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let row"> {{row.Description}} </td>
                  </ng-container>
            
                <!-- Progress Column -->
                <ng-container matColumnDef="BedRooms">
                  <th mat-header-cell *matHeaderCellDef > BedRooms </th>
                  <td mat-cell *matCellDef="let row"> {{row.BedRooms}} </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="BathRooms">
                  <th mat-header-cell *matHeaderCellDef > BathRooms </th>
                  <td mat-cell *matCellDef="let row"> {{row.BathRooms}} </td>
                </ng-container>
            
                <!-- Fruit Column -->
                <ng-container matColumnDef="BuildingSize">
                  <th mat-header-cell *matHeaderCellDef > BuildingSize </th>
                  <td mat-cell *matCellDef="let row"> {{row.BuildingSize}} </td>
                </ng-container>
                      <!-- Name Column -->
                      <ng-container matColumnDef="Actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let row"> 
                          <button mat-button><mat-icon>edit</mat-icon></button>
                          <button mat-button><mat-icon color="warm">delete</mat-icon></button>
                           </td>
                      </ng-container>
                  
                    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>
          </div>

    </form>
</div>