h2{
    margin-top: 1rem;
    color: dimgray;
}

mat-form-field{
    width: 200x;
    max-width: 200px;
    margin-left: 1rem;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  /* td, th {
    width: 25%;
  } */

  button{
    margin-left: 1rem;
  }