<div class="container"> 
    <h2>Productos</h2>
    <div class="row">
        <div class="col-md-12">
            <button routerLink="/inventario/creacion-producto" mat-raised-button color="primary">Nuevo Producto</button>
        </div>
    </div>
    <div class="listaProp">

        <mat-form-field >
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. " #input>
        </mat-form-field>

     <div >
        <div class="Content_table mat-elevation-z8">
            <table mat-table  [dataSource]="dataSource" matSort>
                
            <!-- ID Column -->
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <ng-container matColumnDef="Image">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
                <td mat-cell *matCellDef="let row">
                    <div class="img">
                        <img [src]="row.image" alt="">
                    </div>
                    </td>
            </ng-container>
            
        <ng-container matColumnDef="Descripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
            <td mat-cell *matCellDef="let row"> {{row.description}} </td>
        </ng-container>
        <ng-container matColumnDef="inventary_min">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Min Stocks </th>
            <td mat-cell *matCellDef="let row"> {{row.inventary_min}} </td>
        </ng-container>
        <ng-container matColumnDef="price_in">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio/Mayor </th>
            <td mat-cell *matCellDef="let row"> {{row.price_in | currency:'DOP$ '}} </td>
        </ng-container>

        <ng-container matColumnDef="price_out">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio/Detalle</th>
            <td mat-cell *matCellDef="let row"> {{row.price_out| currency:'DOP$ '}} </td>
        </ng-container>
        //----------------------------------------------------------------  
        <!-- <ng-container matColumnDef="unit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> unit </th>
            <td mat-cell *matCellDef="let row"> {{row.unit}} </td>
        </ng-container> -->
        <ng-container matColumnDef="categoryName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> categoria </th>
            <td mat-cell *matCellDef="let row"> {{row.categoryName}} </td>
        </ng-container>
        <ng-container matColumnDef="is_active">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
            <td mat-cell *matCellDef="let row; let i = index;">
                <mat-checkbox  [(ngModel)]="row.is_active" (click)="$event.stopPropagation()" (change)="toggleCheckbox(i)"> {{'Activar'}}</mat-checkbox>
                <!-- {{row.is_active}} -->
             </td>
        </ng-container>
         <ng-container matColumnDef="Accion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
            <td mat-cell *matCellDef="let row"> 
             
                <button mat-flat-button color="primary" routerLink="/inventario/creacion-producto/{{row.id}}">Editar<mat-icon>edit</mat-icon></button>
                <button mat-flat-button color="warn" (click)="DeleteEntidad(row.id)"> Borrar<mat-icon >delete</mat-icon></button>
                </td>
            </ng-container>
            
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>

            </table>
        
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
            [pageSize]="cantidadRegistroMostrar"
            length="cantidadTotaldeRegistro"
            aria-label="Select page" (page)="actualizarPaginacion($event)">
            </mat-paginator>

      </div> 
        </div>
    </div>
</div>
