<h2>Home Dashboard</h2>
<hr>
<div class="containerbox">   
    <div class="boxEntidades color1">
            <div class="number"> 
                <span>1</span>
            </div>
            <div class="desciption">
                <p>Clientes</p>
            </div>
            <div class="vermas">
               <a routerLink= "/entidades/cliente" >ver mas</a> 
            </div>
            
    </div>

    <div class="boxEntidades color2">
        <div class="number"> 
            <span class="">4</span>
        </div>
        <div class="desciption">
            <p>Proveedores</p>
        </div>
        <div class="vermas">
           <a href="/entidades/proveedor">ver mas</a> 
        </div>
        
</div>

<div class="boxEntidades color3">
    <div class="number"> 
        <span>3</span>
    </div>
    <div class="desciption">
        <p>Productos</p>
    </div>
    <div class="vermas">
       <a href="">ver mas</a> 
    </div>
    
</div>

<div class="boxEntidades color4">
    <div class="number"> 
        <span >115</span>
    </div>
    <div class="desciption">
        <p>Contratos</p>
    </div>
    <div class="vermas">
       <a href=""  >ver mas</a> 
    </div>
    
</div>

<div class="boxEntidades bg-primary">
    <div class="number "> 
        <span>Inventario</span>
    </div>
    <div class="desciption">
        <p>Entrada de Mercancia</p>
    </div>
    <div class="vermas">
       <a routerLinkActive="router-link-active" routerLink="/inventario/ordenes-entrada" >ver mas</a> 
    </div>
    
</div>
  
</div>

