<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h2 class="card-title">Proveedor</h2>
                        <p class="card-category">Informacion de Proveedor</p>
                    </div>
                    <div class="card-body">
                      <app-entidadform [Kind]="Entidadkind" (submit)="RecivirData($event)"></app-entidadform>
                          <!-- /* aqui el form*/ -->
                    </div>
                </div>
            </div>
            <div class= "mt-2 col-md-2">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <!-- <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/faces/marc.jpg" />
                        </a> -->
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">CEO </h6>
                        <h4 class="card-title">Melvin Parra</h4>
                        <p class="card-description">
                            Informacion no requerida actualmente
                        </p>
                        <a href="javascript:void(0)" class="btn btn-danger btn-round disabled" >Follow</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>